@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Umbraco.TypedContent(1165).Children("newsItem")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}


<ul>
	@foreach(var item in selection)
	{
		<li>
		    <strong><a href="@item.Url">@item.Name</a></strong>
		    <p>
                @item.GetPropertyValue("summary")
                <br />
                @item.CreateDate.ToLongDateString()
            </p>
		</li>
	}
</ul>