@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
    @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="06f6a6bd-6115-4c29-bb73-bf0f1af76937", FormTheme="bootstrap3-horizontal", ExcludeScripts="0"})
</div>
