@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FAqarea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
    @Html.Partial("listFAQItems")

    <p>
        <a href="?altTemplate=AddQuestion" class="btn btn-primary">
            Ask a question
        </a>
    </p>
</div>
