@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FAqitem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
    @Umbraco.Field("answer")
    <p>
        Asked by: @Umbraco.Field("yourName")
        <br />
        Email: @Umbraco.Field("yourEmail")
    </p>
</div>
