@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FAqitem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SubMaster.cshtml";
}

@Umbraco.Field("answer")
<p>
    @Umbraco.Field("yourName")
    <br />
    @Umbraco.Field("yourEmail")
</p>