@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master1.cshtml";
}

<h1>@Umbraco.Field("pageName")</h1>
<p>@Umbraco.Field("bodyText")</p>

<h3>@Html.Partial("promoSlider")</h3>