@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SubMaster.cshtml";
}

<div class="container">
    <h1>@Umbraco.Field("pageName")</h1>
    @Umbraco.Field("bodyText")
    @Html.Partial("listNewsItems")
    @section sidebar
{
    @Html.Partial("sideNavigation")
}
</div>


